html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Kanit', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-gap: .5rem;

    padding: 3.5rem 2.5rem;
}


.grid-row__inner-container {
    display: grid;
    grid-template-columns: min-content 8fr 2fr 10fr;
    grid-template-rows: min-content;
    grid-area: 1/1/2/2;

    align-items: center;
}

.grid-row__inner-container > div:nth-child(1) {
    grid-area: 1/1/-1/2;
}

.grid-row__inner-container > div:nth-child(2) {
    grid-area: 1/2/-1/3;
}

.grid-row__inner-container > div:nth-child(3) {
    grid-area: 1/3/-1/4;
}

.grid-row__inner-container > div:nth-child(4) {
    grid-area: 1/4/-1/5;

    display: flex;
    justify-content: flex-end;
}


.grid-row__btn-group {
    display: grid;
    grid-template-columns: minmax(3.3rem, 1fr) minmax(3.3rem, 1fr) minmax(3.3rem, 1fr);
    grid-template-rows: 1fr;

    height: 100%;
}

.grid-row__btn-group > div.grid-row__btn-group-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    font-size: 1rem;
}


.grid-row__btn-group > div.grid-row__btn-group-box:nth-child(1) {
    grid-area: 1/1/-1/2;

    border-right: none;
    border-left: none;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.grid-row__btn-group > div.grid-row__btn-group-box:nth-child(2) {
    grid-area: 1/2/-1/3;

    border: 1px solid #ced4da;
}

.grid-row__btn-group > div.grid-row__btn-group-box:nth-child(3) {
    grid-area: 1/3/-1/4;

    border-right: 1px solid #ced4da;
    border-left: none;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;

    border-radius: 0 .25rem .25rem 0;
}


.grid-row__search-input > input:nth-child(1) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}


.top-nav li.nav-item a.nav-link {
    font-size: 1.4rem;
}

.bottom-nav li.nav-item a.nav-link {
    font-size: 1.4rem;
}


.grid-row__inner-container > .grid-row__header > h4 {
    font-size: 1.8rem;
}

.grid-row__btn-group .nav-link {
    font-size: 1.4rem;
}


.grid-row__menu-group {
    display: flex;
    justify-content: flex-start;
    grid-area: 2/1/3/3;

    border-bottom: 1px solid #ebebeb;
}

.grid-row__menu-group-box {
    padding: 1.5rem 2rem;
}

.grid-row__menu-group-box:nth-child(1) {
    padding: 1.5rem 1.5rem 1.5rem 0;
}


.grid-row__menu-group-box > a {
    font-size: 1.4rem;
}

.grid-row__search-result {
    display: flex;
    flex-direction: column;
    grid-area: 3/1/4/-1;
    padding: 1rem 0;
}